* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
  }
  .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1000;
}

.logo-container img {
  width: 60px;
  height: 60px;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar.active {
  opacity: 1;
  transform: translateY(0);
}

.logo-sidebar img {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  margin: 20px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu li.stagger {
  opacity: 1;
  transform: translateY(0);
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-right: 2px solid transparent;
  padding-right: 20px;
  transition: border-color 0.3s ease;
}

.menu a:hover {
  border-color: #720e9e;
}
